body {
    /*font: 400 15px/1.75 -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;*/
    font: 200 16px/1.75 'Microsoft JhengHei', 'Hannotate SC', "PingFang SC", "Microsoft YaHei", sans-serif;
    margin: 0;
    color: #58666e;
    background: url(images/background.png) #F7F7F7;
    cursor: url("images/default.cur"), default;
    text-shadow: 0 0 4px rgba(250, 250, 250, .4);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

input:-webkit-autofill, input:-webkit-autofill:focus, input:-webkit-autofill:hover {
    box-shadow: 0 0 0 160px #fff inset;
    -webkit-text-fill-color: #999
}

::-webkit-scrollbar {
    height: 32px;
    width: 4px;
    background: #ccc
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
    background-clip: padding-box;
    background-color: #3c8dbc;
    height: 32px;
}

::selection {
    color: #FFFFFF;
    background: #3c8dbc;
}

a, button, input[type=submit], .menu-parent a, .rewards a, #cornertool li {
    cursor: url("images/link.cur"), pointer;
}

a, .nav-menu ul a, .post-content .more a {
    color: #666;
    border: 0;
    text-decoration: none;
}

a:hover {
    color: #333;
    text-decoration: none;
}

ul {
    padding-left: 30px
}

ul li p, #footer p, .whisper .comment-author {
    margin: 0
}

h1 {
    font-size: 1.5em
}

h2, #catalog-col b {
    font-size: 1.2em
}

pre, code {
    font-family: Consolas, Inconsolata, Courier, monospace, "PingFang SC", "Microsoft YaHei", sans-serif;
    font-size: 14px;
    background: #f3f3f3
}

code {
    padding: 2px 4px;
    color: #b94a48
}

pre {
    padding: 8px;
    overflow: auto;
    max-height: 400px
}

pre code {
    display: block;
    color: #444;
    word-break: break-all;
    white-space: pre-wrap;
}

blockquote {
    margin: 1em 0;
    padding-left: 1.5em;
    background: #fcfcfc;
    border-left: 4px solid #eee;
    color: #666
}

table {
    border: 1px solid #ddd;
    width: 100%
}

table th, table td {
    padding: 5px 10px;
    border: 1px solid #eee
}

table th {
    background: #f3f3f3
}

input, textarea, button {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.2;
    margin: 0;
    outline: 0;
    appearance: none;
    -webkit-appearance: none
}

input, textarea {
    padding: 5px;
    border: 1px solid #eee;
    width: 100%;
    height: 30px;
    border-radius: 2px;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

textarea {
    height: 150px;
    resize: vertical;
    overflow: auto
}

button, input[type=submit] {
    padding: 0 6px;
    background: #ddd;
    border: 0
}

.browsehappy {
    padding: 8px 0;
    background: #fbe3e4;
    color: #8a1f11;
    text-align: center
}

.browsehappy a {
    color: #8a1f11;
    text-decoration: underline;
    font-weight: bold
}

.clearfix {
    zoom: 1
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table
}

.clearfix:after {
    clear: both
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

#body .container {
    margin: 20px auto;
    background: #f0f3f4;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.head-fixed .browsehappy {
    position: fixed;
    bottom: 0;
    width: 100%
}

.head-fixed #header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999
}

.head-fixed #body {
    padding-top: 71px
}

#header {
    line-height: 40px;
    padding: 15px 0;
    background: #3c8dbc;
}

.site-name a, .nav-menu a {
    color: #ffffff;
}

.site-name, .comment-form p, .whisper .comment-meta time {
    float: left
}

.site-name h1 {
    display: table-cell;
    height: 40px;
    font-size: 1.7em;
    margin: 0;
    vertical-align: middle;
    font-weight: normal
}

.post-title a {
    color: #555;
}

#logo .sub {
    color: #cdcdcd;
    font-size: 66%;
    margin-left: 10px;
    font-style: italic;
}

.post-title.index a:hover {
    transition: all .2s ease;
    margin-left: 20px;
}

#logo img {
    display: block;
    max-height: 30px
}

#nav-swith {
    position: relative;
    float: right;
    margin-left: 5px;
    color: #ffffff;
}

#nav-swith, #search button {
    top: 5px;
    right: 0;
    width: 30px;
    height: 30px;
    background: 0
}

#nav-swith:before, #search button:before {
    content: "";
    position: absolute;
    top: 7px;
    left: 7px;
    width: 9px;
    height: 9px;
    border: solid 2px currentColor;
    border-radius: 50%
}

#nav-swith:after, #search button:after {
    content: "";
    position: absolute;
    top: 19px;
    left: 17px;
    width: 6px;
    height: 2px;
    background: currentColor
}

#nav-swith:before, #nav-swith:after, #nav-swith span, #nav, #site-search, .nav-menu, .menu-parent ul, #catalog-col, .rewards img, #cornertool li, #music span, #catalog:before, #catalog:after, #catalog span {
    transition: .2s;
    -webkit-transition: .2s
}

.on #nav-swith:before, .on #nav-swith:after {
    content: "";
    position: absolute;
    top: 14px;
    left: 6px;
    width: 18px;
    height: 2px;
    background: currentColor;
    border: 0;
    border-radius: 0
}

.on #nav-swith:before, .author-icon {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg)
}

#nav-swith:after, .on #nav-swith:after, #search button:after {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg)
}

#nav-swith span {
    display: block;
    width: 18px;
    height: 2px;
    background: currentColor;
    visibility: hidden
}

#nav, .whisper .post-title .more {
    position: relative;
    float: right
}

.on #site-search {
    top: 0
}

.on #site-search, .menu-parent:hover > ul, #catalog-col.catalog, .rewards a:hover img, #cornertool li {
    visibility: visible;
    opacity: 1
}

#site-search {
    position: absolute;
    top: -10px;
    right: 0;
    width: 200px
}

#site-search, .menu-parent ul, #catalog-col, .rewards img, #cornertool .hidden {
    visibility: hidden;
    opacity: 0
}

#search, .rewards, .menu-parent, .l_logo, .loading {
    position: relative
}

#search input {
    padding-right: 30px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #999;
    border-radius: 0;
    text-align: center;
    color: #ffffff;
}

#search button {
    position: absolute;
    color: #ffffff;
}

.nav-menu, .comment-list, .comment-list ol {
    list-style: none;
    margin: 0;
    padding: 0
}

.nav-menu::-webkit-scrollbar, #catalog-col::-webkit-scrollbar {
    width: 6px;
    height: 6px
}

.nav-menu::-webkit-scrollbar-thumb, #catalog-col::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #ddd
}

.nav-menu li {
    display: inline-block;
    margin: 0 10px
}

.menu-parent ul {
    position: absolute;
    left: 50%;
    width: 100px;
    margin: 0 0 0 -50px;
    padding: 0;
    border-radius: 5px;
    background: #b5bbc8;
    text-align: center;
    list-style: none
}

.menu-parent ul:before {
    content: "";
    position: absolute;
    top: -7px;
    left: 50%;
    margin-left: -7px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #b5bbc8
}

.menu-parent li, #cornertool li:before, .whisper .comment-list .respond, .whisper.permission .respond {
    display: block
}

.menu-parent ul a {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.menu-parent .menu-parent .menu-child {
    background: #d2d6de;
}

#bar, .loading:after {
    position: fixed;
    top: 0;
    height: 3px;
    background: green;
    animation: loading 1s infinite;
    -webkit-animation: loading 1s infinite
}

@keyframes loading {
    0% {
        right: 50%;
        left: 50%
    }
    30% {
        right: 0;
        left: 0
    }
    100% {
        right: 50%;
        left: 50%
    }
}

@-webkit-keyframes loading {
    0% {
        right: 50%;
        left: 50%
    }
    30% {
        right: 0;
        left: 0
    }
    100% {
        right: 50%;
        left: 50%
    }
}

#main {
    float: left;
    width: 100%
}

#main .main-container {
    margin-right: 321px;
    padding: 16px;
}

#main > *:not(.breadcrumbs) {
    animation: upin .3s;
    -webkit-animation: upin .3s
}

@keyframes upin {
    0% {
        opacity: 0;
        transform: translateY(30px)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

@-webkit-keyframes upin {
    0% {
        opacity: 0;
        transform: translateY(30px)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

.post {
    width: 100%;
    background: #fff;
    margin-bottom: 20px;
    border: 1px solid #dee5e7;
}

.post-list {
    padding: 0 20px;
}

.post-main {
    margin: -16px -16px 20px;
    padding: 10px 20px 0;
    background-color: #f6f8f8;
    border-bottom: 1px solid #dee5e7;
    border-top-left-radius: 4px;
}

.post-title {
    font-size: 24px;
    margin: 0;
}

.post-title.index {
    margin: 10px 0;
}

.post-meta {
    padding: 0;
    color: #666;
    font-size: 12px;
    margin: 0;
}

.post-meta li {
    display: inline-block;
    margin: 0 5px;
}

.post-meta i, .postinfo i {
    height: 16px;
    width: 16px;
    vertical-align: middle;
}

#top i {
    height: 16px;
    width: 16px;
    fill: #ffffff;
}

.post-meta li:first-child {
    padding: 0;
    border: 0
}

#catalog-col, #cornertool {
    position: fixed;
    bottom: 5px;
    z-index: 999
}

#catalog-col {
    right: 50%;
    margin-right: -515px;
    min-width: 150px;
    max-width: 50%;
    max-height: 50%;
    color: #eee;
    background: rgba(0, 0, 0, .7);
    border: 1em solid transparent;
    border-right-width: .3em;
    overflow: auto
}

#catalog-col.catalog {
    margin-right: -535px
}

#catalog-col > ul {
    margin: 1em .5em 0 0
}

#catalog-col ul {
    padding-left: 20px
}

#catalog-col a {
    color: #eee;
    border: 0
}

#catalog-col a:hover {
    border-bottom: 1px solid #eee
}

.post-content .cl-offset {
    position: relative;
    display: block;
    top: -10px;
    height: 0;
    border: 0
}

.head-fixed .cl-offset {
    top: -51px
}

.whisper .post-content {
    min-height: 40px;
    padding: 0 1em;
    text-align: center;
    border: 1px solid #444;
    border-radius: 2px
}

.whisper .post-title {
    font-size: 1em;
    font-weight: normal;
    margin: 0 -1em
}

.whisper.post .post-title a {
    display: block;
    padding: 2px 1em;
    color: #fff;
    background: #444;
    border: 0
}

.whisper .post-title a, .post-content .links a {
    transition: .3s;
    -webkit-transition: .3s
}

.whisper .post-title a:hover {
    background: #000
}

.whisper .post-content pre {
    text-align: left
}

.whisper .notice {
    display: block;
    font-size: .9em;
    padding: 5px;
    color: #f44336;
    border: 1px solid;
    border-radius: 2px
}

.post-content p {
    margin: 5px 0;
}

.post-content, .comment-content {
    word-wrap: break-word
}

.main.main-container .post-content {
    padding: 10px 14px;
}

.post-content pre {
    padding: 10px;
    white-space: pre-wrap;
    word-break: break-all;
    margin: 16px 0;
    position: relative;
}

.main-container.main .post-content h2 {
    padding: 10px 16px;
    margin: 0 -14px 0 -17px;
    background: #e8f9ff;
    border-left: 3px solid #77889a
}

.post-content a, .comment-content a {
    color: #337ab7;
}

.post-content a:hover, .comment-content a:hover, .nav-menu ul a:hover {
    color: #333;
    border: 0
}

.post-content img, .post-content video, .comment-content img, .comment-content video, .whisper img, .whisper video {
    max-width: 100%
}

.main-container .post-content.post img {
    display: block;
    margin: 0 auto;
    max-height: 320px;
}

.post-content hr, .comment-content hr {
    margin: 2em auto;
    width: 100px;
    border: 1px solid #ddd;
}

.post-content .thumb, .post-content .more {
    text-align: center
}

.main-container .postinfo {
    display: block;
    margin: 0 10px 10px;
    border: 1px solid #efefef;
    border-radius: 4px;
    padding: 0 10px 10px;
    font-size: 14px;
}

.main-container .postinfo div {
    margin-top: 10px;
}

.main-container .postinfo div i {
    padding-right: 5px;
}

#post-link {
    border-bottom: 1px dashed #cdcdcd;
    margin-right: 10px;
}

#copy-link {
    border-bottom: 1px dashed #cccccc;
}

#copy-link:hover {
    margin-left: 5px;
    font-weight: 400;
}

#secondary .tags-cloud {
    padding: 10px;
}

.tags-cloud a, .widget-list.links a {
    padding: 2px;
    margin: 2px;
    font-size: 14px;
    display: inline-block;
    white-space: nowrap;
    height: 22px;
    line-height: 22px;
    border-radius: 2px;
}

.widget-list.links a:hover {
    color: red;
    font-weight: bold;
}

.widget-list.links li {
    display: inline-block;
    border: none;
    height: 30px;
    line-height: 30px;
}

.tags-cloud a {
    font-size: 12px;
    padding: 0 6px;
    color: #ffffff;
}

.tags-cloud a:nth-child(6n) {
    background-color: #0089fa
}

.tags-cloud a:nth-child(6n+1) {
    background-color: #ff002b
}

.tags-cloud a:nth-child(6n+2) {
    background-color: #ffa900
}

.tags-cloud a:nth-child(6n+3) {
    background-color: #00a753
}

.tags-cloud a:nth-child(6n+4) {
    background-color: #b433ff
}

.tags-cloud a:nth-child(6n+5) {
    background-color: #b37333
}

.tags-cloud a:hover {
    background-color: #555555;
    color: #f4f6f8;
}

pre .copy-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #666;
    background-color: #EEE;
    border-color: #EEE;
    font-weight: 400;
    font-size: 86%;
    line-height: 20px;
    height: 20px;
    margin: 0;
    padding: 2px 4px;
}

pre .copy-btn:hover {
    color: darkblue;
    font-weight: bold;
}

#tooltip {
    position: absolute;
    z-index: 9999;
    display: none;
    padding: 4px 8px;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 3px;
    background-color: green;
    color: #efefef;
    text-align: center;
    font-size: 14px;
}

#tooltip:before {
    position: absolute;
    top: -6px;
    left: 15px;
    width: 0;
    height: 0;
    border: 6px dashed green;
    border-top: 0;
    color: #fff;
    content: ' ';
    line-height: 0;
    border-bottom-style: solid;
    border-left-color: transparent;
    border-right-color: transparent
}

.post-navigation {
    height: 32px;
    font-size: 24px;
}

.post-navigation span {
    display: inline-block;
    border: .0625rem solid #dee5e7;
    border-radius: 20px;
    background-color: #fff;
    padding: 4px 10px;
    font-size: 14px;
}

.post-navigation span:first-child {
    float: left;
}

.post-navigation span:last-child {
    float: right;
}

.protected input {
    width: auto
}

.rewards, .post .tags {
    clear: both
}

.rewards a, .tags a, .comment-author a {
    color: #3354aa;
    border: 0
}

.rewards img {
    position: absolute;
    top: 0;
    left: 50%;
    margin: -15% 0 0 -15%;
    padding: 5px;
    max-width: 30%;
    background: #eee
}

.post-near {
    list-style: none;
    margin: 30px 0;
    padding: 0;
    color: #999
}

.post-near li {
    margin: 10px 0
}

.page-navigator {
    list-style: none;
    margin: 25px 0;
    padding: 0;
    text-align: center
}

.page-navigator li {
    display: inline-block;
}

.page-navigator a, .page-navigator span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.page-navigator li:first-child a, .page-navigator li:first-child span {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.page-navigator li:last-child a, .page-navigator li:last-child span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}


.page-navigator .current a, .page-navigator a:hover {
    background: #efefef;
}

.ajaxload li, .whisper .respond {
    display: none
}

.ajaxload .next {
    display: inline-block;
    color: #666
}

.ajaxload a {
    padding: 5px 20px;
}

.ajaxload .loading, .ajaxload .loading:hover, .post-content .more .loading {
    padding: 5px;
    color: #333;
    border: 0
}

.loading:after {
    content: "";
    display: block;
    position: absolute;
    top: auto;
    bottom: 0;
    height: 1px
}

#comments {
    margin: 30px 0;
    border-top: 1px solid #eee
}

#comments textarea {
    background: url("./images/comment-back.jpg") bottom right no-repeat #fafdff;
    background-size: contain;
}

#comments.whisper {
    margin: 20px;
}

.whisper .comment-list li.comment-parent {
    padding: 20px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #eee
}

.whisper .comment-list li.comment-parent:last-child {
    border: 0
}

.whisper .comment-parent > .comment-content, .whisper .comment-meta, .whisper .comment-children {
    margin: 1em 0 0 42px
}

.whisper .comment-child {
    margin-top: 1px;
    padding: 2px 5px;
    background: #eee;
    border: 0;
    border-radius: 2px
}

.whisper .comment-child .comment-content {
    line-height: 20px
}

.whisper .comment-child .avatar {
    margin: 2px 5px 0 0
}

.comment-list li {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #eee
}

.comment-list li.comment-level-odd {
    background: #f9f9f9
}

.comment-list li.comment-level-even {
    background: #fff
}

.comment-list li.comment-by-author {
    position: relative;
    background: #f2f7fc
}

.author-icon {
    font-size: .83em;
    display: block;
    position: absolute;
    top: 8px;
    left: -15px;
    width: 60px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    background: linear-gradient(135deg, transparent 30%, rgba(200, 200, 200, .8) 0) left no-repeat, linear-gradient(-135deg, transparent 30%, rgba(200, 200, 200, .8) 0) right no-repeat;
    background-size: 50% 100%;
    color: #ff5252;
    font-weight: bold;
}

.comment-list li .comment-reply {
    text-align: right;
    font-size: .9em
}

.comment-meta time {
    color: #999;
    font-size: .9em
}

.comment-author {
    display: block;
    margin-bottom: 3px;
    color: #444
}

.comment-author .avatar {
    float: left;
    margin-right: 10px;
    border-radius: 50%;
}

.comment-author cite {
    font-weight: bold;
    font-style: normal
}

.comment-list .respond {
    margin-top: 15px;
    border-top: 1px solid #eee
}

.respond .cancel-comment-reply {
    float: right;
    margin-top: 15px;
    font-size: .9em
}

.comment-form input {
    margin-bottom: 10px
}

.comment-form .textarea {
    width: 68%;
    margin: 0 2% 0 0
}

.comment-form .textbutton {
    width: 30%;
    margin: 0
}

#comment-form button {
    width: 100%;
    height: 30px;
    border-radius: 2px
}

#secondary {
    float: right;
    width: 320px;
    margin-left: -321px;
    border-left: 1px solid #dee5e7;
    word-wrap: break-word;
    background: #ffffff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#secondary .widget h3 {
    margin: 15px 0 5px 20px;
}

#secondary .more {
    display: block;
    font-size: .875em
}

.widget {
    margin-bottom: 30px;
}

.widget ul {
    margin: 0 15px;
    padding: 0;
    border-radius: 4px;
    border: 1px solid #eee;
}

.widget-list, .widget-tile, .links, #cornertool ul {
    list-style: none;
    padding: 0
}

.widget-list li {
    display: block;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #EEE;
}

.widget-list li:last-child {
    border-bottom: none;
}

.widget-list li a {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 100%;
    /*text-indent: 16px;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
}

.widget-list li a:before {
    content: '  ';
}

.widget-list li a:hover {
    background: #cccccc;
}

.widget-list li ul {
    margin-left: 15px
}

.widget-tile {
    margin-left: -5px;
    margin-right: -5px
}

.widget-tile li {
    display: inline-block;
    margin: 5px;
    line-height: 1.6;
    color: #666
}

#footer {
    font-size: .875em;
    padding: 2em 0;
    line-height: 1.5;
    text-align: center;
    border-top: 1px solid #eee
}

#footer, #footer .links a, .icpnum {
    color: #999
}

.post-content .links {
    letter-spacing: -9em;
}

.post-content .links li {
    display: inline-block;
    width: 25%;
    letter-spacing: 0;
}

.post-content .links a {
    display: block;
    height: 20px;
    line-height: 20px;
    margin: 5px 10px;
    padding: 5px 10px;
    text-align: center;
    color: #444;
    background: #fcfcfc;
    border: 0;
    border-radius: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
}

.post-content .links a:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .3)
}

.l_logo img, .l_logo i {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    padding: 7px;
    background: #ccc;
    overflow: hidden
}

.l_logo i {
    font: 16px/1 Segoe UI Symbol
}

#footer .links, #cornertool ul {
    margin: 0;
    text-align: center
}

#footer .links li {
    display: inline-block;
    margin: 0 3px 2px
}

#cornertool {
    right: 50%;
    margin-right: -580px
}

#cornertool .hidden {
    left: 20px
}

#cornertool li {
    position: relative;
    display: block;
    left: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-top: 5px;
    border-radius: 50%;
    color: #fff;
    background: #3c8dbc;
    font-weight: 800;
}

#top:hover:before {
    content: "Top"
}

#music:before {
    content: "\266b"
}

#music:hover:before {
    content: "\25b2"
}

#music:hover:before, #catalog.catalog span {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg)
}

#music.play:hover:before {
    content: "\3013";
    animation: 0;
    -webkit-animation: 0
}

.play:before {
    animation: play 5s linear infinite;
    -webkit-animation: play 5s linear infinite
}

@keyframes play {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes play {
    0% {
        -webkit-transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg)
    }
}

#music span {
    position: absolute;
    display: block;
    bottom: 0;
    height: 5px;
    width: 0;
    background: #666;
    opacity: .7
}

#music.play span {
    width: 100%
}

#music.play span i {
    display: block;
    height: 100%;
    width: 0;
    background: #eee
}

#catalog span, #catalog:before, #catalog:after {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    margin: -1px 0 0 -6px;
    width: 12px;
    height: 1px;
    background: currentColor
}

#catalog:before {
    content: "";
    margin-top: -5px
}

#catalog:after {
    content: "";
    margin-top: 3px
}

#catalog.catalog {
    left: -5px
}

#catalog.catalog:before {
    margin: -4px 0 0 -11px;
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg)
}

#catalog.catalog:after {
    margin: 2px 0 0 -11px;
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg)
}

.error-page {
    margin: 100px 0;
    text-align: center
}

#archives li {
    margin: 5px 0
}

.post-list-page {
    padding: 0 !important;
}

.post-list-page table {
    border: none;
    border-collapse: collapse;
}

.post-list-page table thead {
    border-bottom: 2px solid #dddddd;
    font-size: 12px;
}

.post-list-page .table > tbody > tr:nth-of-type(odd) {
    background: #f9f9f9;
}

.post-list-page tbody td {
    padding: 5px;
    font-size: 12px;
    text-align: center;
}

.post-list-page tbody tr td:nth-child(2) {
    font-size: 14px;
    text-align: left;
}

.post-list-page tbody td .badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}

#loading-wrap {
    width: 100%;
    height: 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 4;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    opacity: 0;
    transition: opacity ease .8s;
    -webkit-transition: opacity ease .8s;
    -moz-transition: opacity ease .8s;
    -o-transition: opacity ease .8s;
    -ms-transition: opacity ease .8s;
}

.loading {
    width: 120px;
    height: 120px;
    color: #000;
    margin: auto;
    display: none;
}

.loading-bar {
    width: 60px;
    height: 30px;
    padding-top: 45px;
    margin: auto;
    overflow: hidden;
}

.loading-bar div {
    width: 5px;
    height: 30px;
    margin: 25px 5px 5px;
    background: #eee;
    float: left;
}

.bar1, .bar2, .bar3, .bar4 {
    animation: bar 1.5s infinite;
    -webkit-animation: bar 1.5s infinite;
    -moz-animation: bar 1.5s infinite;
    -o-animation: bar 1.5s infinite;
}

.bar2 {
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    -o-animation-delay: 0.3s;
}

.bar3 {
    animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
}

.bar4 {
    animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
    -moz-animation-delay: 0.9s;
    -o-animation-delay: 0.9s;
}
.loading-text {
    text-align: center;
    margin-top: 8px;
}

/* Dark mode */
body.dark {
    background: #263238;
    color: #aaa;
    text-shadow: none;
}

body.dark * {
    border-color: #344148 !important;
}

body.dark #logo sub {
    color: #999999;
}

body.dark #tooltip {
    background: #333333;
}

body.dark #tooltip:before {
    border: 6px dashed #333333;
    border-top: 0;
    color: #fff;
    content: ' ';
    line-height: 0;
    border-bottom-style: solid;
    border-left-color: transparent;
    border-right-color: transparent
}

body.dark .widget-list li a:hover {
    background: #333333;
}


body.dark .rewards a, body.dark .tags a, body.dark .comment-author a, body.dark .post-content a, body.dark .comment-content a {
    color: #6a85ca;
}

body.dark #body .container, body.dark #secondary, body.dark header.post-main, body.dark .post, body.dark .main-container.main .post-content h2, body.dark .tags-cloud a, body.dark .post-navigation span {
    background: none !important;
}

body.dark a, body.dark .nav-menu ul a, body.dark .post-content .more a, body.dark .post-meta {
    color: #888;
}

body.dark #header, body.dark .whisper .comment-list li.comment-parent, body.dark table td, body.dark .comment-level-even {
    background-color: #263238;
    border-bottom: 1px solid #182125;
}

body.dark table td, body.dark table th {
    border: 1px solid #182125;
}

body.dark #logo, body.dark .post-title a, body.dark .comment-author, body.dark blockquote {
    color: #aaa !important;
}

body.dark pre, body.dark code, body.dark input, body.dark textarea, body.dark button, body.dark blockquote, body.dark .post-content .links li a, body.dark .menu-parent ul, body.dark .menu-parent .menu-parent ul.menu-child, body.dark .comment-list li.comment-level-odd, body.dark .comment-list li.comment-by-author, body.dark .whisper .comment-child, body.dark table tr, body.dark table th {
    background: #344148;
}

body.dark #cornertool li {
    background: rgba(0, 0, 0, .7);
}

body.dark .author-icon {
    background: linear-gradient(135deg, transparent 30%, rgba(111, 111, 111, 0.8) 0) left, linear-gradient(-135deg, transparent 30%, rgba(111, 111, 111, 0.8) 0) right;
    background-size: 50% 100%;
    background-repeat: no-repeat;
}

body.dark .menu-parent ul:before {
    border-bottom: 7px solid #344148;
}

body.dark .post-content .links li a i {
    background: #808080;
    color: #aaa;
}

body.dark .post-content .links a {
    color: #aaa;
}

body.dark .page-navigator a, body.dark .page-navigator span {
    background: #233037;
}

body.dark blockquote {
    border-left: 4px solid #2c383e;
}

body.dark textarea, body.dark .comment-list li {
    border: 1px solid #344148;
}

body.dark button, body.dark pre code, body.dark blockquote {
    color: #aaa;
}

body.dark img {
    filter: brightness(50%);
}

body.dark #footer, body.dark .comment-list .respond {
    border-top: 1px solid #344148;
}

body.dark .post-meta li {
    border-left: 1px solid #888;
}

body.dark .post-meta li:first-child {
    padding: 0;
    border: 0;
}

body.dark .ajaxload a, body.dark .ajaxload .loading:hover, body.dark .ajaxload .loading {
    color: #aaa;
!important
}

/* 滚动条 */
body.dark *::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

body.dark *::-webkit-scrollbar-thumb {
    background: #aaa;
}

body.dark *::-webkit-scrollbar-track {
    background: #344148;
}

body.dark *::-webkit-scrollbar-corner {
    background: #344148;
}

body.dark::-webkit-scrollbar-thumb {
    background: #aaa;
}

body.dark::-webkit-scrollbar-track {
    background: #344148;
}

body.dark::-webkit-scrollbar-corner {
    background: #344148;
}

/* Notice */
body.dark .notie {
    background: rgba(0, 0, 0, .7) !important;
}

@media (min-width: 601px) {
    .on .nav-menu {
        visibility: hidden;
        opacity: 0
    }

    .menu-parent .menu-parent .menu-child {
        top: 5px;
        left: -120px;
        margin: 0
    }

    .menu-parent .menu-parent:hover > .menu-child {
        left: -100px
    }

    .menu-parent .menu-parent .menu-child:before {
        top: 7px;
        left: 100%;
        margin: 0;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-left: 7px solid #d2d6de;
    }
}

@media (max-width: 1170px) {
    #header .container {
        padding: 0 20px;
    }

    #catalog-col {
        right: 65px;
        margin: 0
    }

    #catalog-col.catalog {
        right: 50px;
        margin: 0
    }

    #cornertool {
        right: 5px;
        margin: 0
    }
}

@media (max-width: 990px) {
    #catalog-col.catalog {
        right: 45px
    }

    #cornertool li {
        width: 35px;
        height: 35px;
        line-height: 35px
    }
}

@media (max-width: 768px) {
    #main {
        width: 100%
    }

    #secondary {
        display: none
    }

    #main .main-container {
        margin-right: 0;
    }

    .post-title, .post-meta, .protected .post-content {
        text-align: center
    }
}

@media (max-width: 600px) {
    #nav-swith {
        margin: 0
    }

    #nav-swith:before, #nav-swith:after {
        left: 6px;
        width: 18px;
        height: 2px;
        background: currentColor;
        border: 0;
        border-radius: 0;
        transform: none;
        -ms-transform: none;
        -webkit-transform: none
    }

    #nav-swith:after {
        top: 21px
    }

    #nav-swith span {
        visibility: visible
    }

    .on #nav-swith span {
        visibility: hidden;
        opacity: 0
    }

    #nav {
        width: 100%;
        max-height: 0;
        overflow: hidden;
        text-align: center
    }

    .on #nav {
        max-height: 240px
    }

    .head-fixed .on #nav {
        margin-bottom: 5px
    }

    .nav-menu {
        max-height: 200px;
        overflow: auto
    }

    .nav-menu li, .nav-menu a {
        display: block
    }

    .nav-menu a:hover {
        font-weight: bold;
        border: 0
    }

    .menu-parent ul {
        position: relative;
        left: 0;
        margin: 0 auto;
        width: 75%;
        visibility: visible;
        opacity: 1
    }

    .menu-parent .menu-parent .menu-child:before {
        border-bottom: 7px solid rgba(221, 221, 221, .95)
    }

    #site-search {
        position: static;
        width: 50%;
        margin: 0 auto
    }

    .post-content .links li {
        width: 50%
    }

    .comment-form .textarea {
        width: 58%
    }

    .comment-form .textbutton {
        width: 40%
    }
}

@media (max-width: 420px) {
    .post-content .links li {
        width: 100%
    }
}